<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Tests.TestSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Tests.TestSettings>
            <setting name="DbType" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DbPort" serializeAs="String">
                <value>1433</value>
            </setting>
            <setting name="ServiceName" serializeAs="String">
                <value/>
            </setting>
            <setting name="DbSchemaName" serializeAs="String">
                <value>alex_cr_ver_db17</value>
            </setting>
            <setting name="DbUsername" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="DbPassword" serializeAs="String">
                <value>mercurypw12</value>
            </setting>
            <setting name="AlmServer" serializeAs="String">
                <value>myd-vm19717.hpeswlab.net</value>
            </setting>
            <setting name="DbServer" serializeAs="String">
                <value>myd-vm04111</value>
            </setting>
            <setting name="AlmPort" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="Domain" serializeAs="String">
                <value>ALEX</value>
            </setting>
            <setting name="Project" serializeAs="String">
                <value>cr_ver</value>
            </setting>
            <setting name="AlmAdminName" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="AlmAdminPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="IsHttps" serializeAs="String">
                <value>False</value>
            </setting>
        </Tests.TestSettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
